* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	background-color: #EFF6FF;
	background-image:
		radial-gradient(at 15% 25%, #BFDBFE 0px, transparent 50%),
		radial-gradient(at 85% 75%, #BAE6FD 0px, transparent 50%),
		radial-gradient(at 50% 10%, #E0F2FE 0px, transparent 40%),
		radial-gradient(at 70% 40%, #DDD6FE 0px, transparent 35%);
	gap: 32px;

	.title-container {
		position: relative;
		
		.page-title {
			font-weight: 600;
			text-align: center;
			font-size: 32px;

			span {
				color: #60A5FA;
			}

		}
		.arrow-detail {
			position: absolute;
			right: -90px;
			height: 130px;
			top: 10px;
			transform: rotate(-10deg);
		}
	}

	.qr-code-container {
		background-color: #F8FAFC;
		padding: 12px;
		border-radius: 12px;
		display: flex;
		gap: 12px;
		width: 700px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

		.qr-code, .qr-code-customization {
			background-color: #FFFFFF;
			padding: 18px;
			border-radius: 12px;
			width: 50%;
		}

		.qr-code {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.link-input {
				display: flex;
				flex-direction: column;
				gap: 2px;

				label {
					font-weight: 600;
					font-size: 14px;
				}

				input {
					padding: 10px;
					border-radius: 8px;
					border: solid 1px #E2E8F0;

					&:focus {
						outline: 1px solid #60A5FA;
					}
				}
			}

			.qr-code-preview {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 12px;
			}
		}

		.qr-code-customization {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.customization-container {
				display: flex;
				flex-direction: column;
				gap: 4px;

				.input-container {
					display: flex;
					flex-direction: column;
					gap: 14px;

					.input-box {
						display: flex;
						flex-direction: column;
						gap: 2px;

						label {
							font-weight: 400;
							font-size: 14px;
						}

						.input-file {
							opacity: 0;
							position: absolute;
							z-index: 2;
							height: 60px;
							cursor: pointer;
						} 

						.input-file-button {
							position: relative;
							z-index: 1;
							background-color: #60A5FA;
							border-radius: 8px;
							border: none;
							padding: 8px 12px;
							color: #FFFFFF;
							display: flex;
							gap: 4px;
							align-items: center;
							justify-content: center;
							cursor: pointer;
							font-size: 14px;
							width: fit-content;
						}

						#logoSize {
							background-color: #F8FAFC;
							border: 1px solid #E2E8F0;
							padding: 8px 12px;
							border-radius: 8px;
							appearance: none;
							background-image: url("../../public/chevron-down.svg");
							background-repeat: no-repeat;
							background-position: right 12px center;
							background-size: 18px;

							&:focus {
								outline: 1px solid #60A5FA;
							}
						}
					}
				}

				.input-container.colors {
					flex-direction: row;
					gap: 32px;

					.input-color {
						border: none;
						background-color: transparent;
						height: 30px;
						width: 100%;
						cursor: pointer;
					}
				}
			}

			.download-button {
				background-color: #60A5FA;
				color: #ffffff;
				padding: 12px 24px;
				border-radius: 8px;
				font-weight: 600;
				border: none;
				cursor: pointer;
				transition: background-color 0.2s;

				&:hover {
					background-color: #3B82F6;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.container {
		padding: 32px 5%;
		gap: 16px;

		.title-container {
			.arrow-detail {
				display: none;
			}
		}

		.qr-code-container {
			flex-direction: column;
			width: 100%;

			.qr-code {
				width: 100%;
			}

			.qr-code-customization {
				width: 100%;
				gap: 12px;
			}
		}
	}
}